/* .container-product-area {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    align-items: start;
    width: 100vw;
}

.side-bar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
} */