.search-container {
  position: relative;
  width: 250px;
}

.search-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  color: #000000;
}

.search-input::placeholder {
  color: #000000;
  opacity: 1; 
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 16px;
  cursor: pointer;
}